<!doctype html>

<html>
<head>
<meta charset=utf-8> 
<title> 123 </title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="../static/index.css"> 
    <body>
        <center>
              <h2 style="color: blue;" class="let_space">Trivia Webpage</h2>
            </center> 

    
<header>
       <div class ="main">
             <ul>
                     <li><a href="#"> Contact </a><li>
                     <li><a href="#"> About</a><li>  
                     <li><a href="#"> Services </a><li>
                     <li><a href="#"> Home </a><li> 
              <ul>
       </div>
       <header> 

<form method="POST" action="">
  Name <input type="text" name="name" />
  <br>
  <br>
  Email <input type="email" name="email" />
  <br>
  <center><input class"file_submit" type="Submit"></center>
</form>

<body>
<br>
<br>
<br>
<center>
        <a href="trivia1.html"> 
            <button type="button" class="block" style="background-color: #333333;color: #00FF00;border-radius:10px">Click here for 1st Trivia</button>
        </a>
        <br>
        
         <a href="trivia2.html"> 
            <button type="button" class="block" style="background-color: #b76acf;color: #00FF00;border-radius:10px">Click here for 2nd Trivia</button>
        </a>
        <br>

        </a>  <a href="trivia3.html"> 
            <button type="button" class="block" style="background-color: #e84949;: #00FF00;border-radius:10px">Click here for 3rd Trivia</button>
        </a>
        <br>
        
         <a href="trivia4.html"> 
            <button type="button" class="block" style="background-color: #c7cb47;;color: #00FF00;border-radius:10px">Click here for 4th Trivia</button>
        </a>
        <br>

         <a href="trivia5.html"> 
            <button type="button" class="block" style="background-color: #cb6eb1;color: #00FF00;border-radius:10px">Click here for 5th Trivia</button>
        </a>
        <br>
        
        <a href="trivia6.html"> 
            <button type="button" class="block" style="background-color: #6abbcf;color: #00FF00;border-radius:10px">Click here for 6th Trivia</button>
        </a>
        <br>
      </center>
      
 
       
   

</body>
</html>





